node_modules/*
package*.json
.env
*.old.json
output/encrypted/*
output/*
split-stats.mjs
jsonUploader*
firebaseHelper*.html
output/*.json
archive/*
archived/*
login.html
admin/*
test*
old.index.html
/backend/serviceAccountKey.json