<header class="header">
    <div class="logo-container">
        <a href="info.html">
            <img src="assets/img/BHY.png" alt="바연화연 로고" class="logo">
        </a>
    </div>
    <nav class="tabs">
        <div class="tab" id="info-tab" onclick="location.assign('info.html')">환수정보</div>
        <div class="tab" id="bond-tab" onclick="location.assign('bondCalculator.html')">환수 결속</div>
        <div class="tab" id="ranking-tab" onclick="location.assign('rankingManager.html')">환수 랭킹</div>
        <div class="tab" id="soul-tab" onclick="location.assign('soulCalculator.html')">환수혼 계산</div>
        <div class="tab" id="chak-tab" onclick="location.assign('chak.html')">착 계산</div>
    </nav>
</header>