.ad-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.ad-row {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 5px;
}

.ad-container-left,
.ad-container-right {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 769px) {

    .ad-container-left,
    .ad-container-right {
        width: 49%;
    }

    .mobile-ad {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .ad-row {
        display: none;

    }

    .desktop-ad {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .ad-container {
        padding: 0 8px;
    }
}

/* 기본 CSS 설정 */
.ad-container-left,
.ad-container-right {
    display: block;
}

.mobile-ad {
    display: none;
}

/* 모바일에서의 광고 표시 설정 */
@media (max-width: 768px) {

    .ad-container-left,
    .ad-container-right {
        display: none;
    }

    .mobile-ad {
        display: block;
    }
}

.modal .ad-container-left,
.modal .ad-container-right,
.modal .mobile-ad {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.modal .kakao_ad_area {
    min-height: 50px;
}